{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<h1 class="titulo-seccion">Carrito de Compras</h1>
<div class="row">
    <main id="contenedorProductos" class="col-xl-8 col-md-8">
        <!-- Aquí se añadirán dinámicamente los productos del carrito -->
    </main>
    <aside class="col-xl-4 col-md-4">
        <article class="precio-background flex-column-center texto-blanco">
            <h3>Total a Pagar</h3>
            <p id="precioTotal">0</p>
            <button id="btnComprar" class="btn btn-primary boton">Comprar</button>
            <button id="btnLimpiar" class="btn btn-primary boton">Limpiar</button>
        </article>
    </aside>
</div>

<script src="{% static 'assets/js/carritoBtn.js' %}"></script>

{% endblock %}