{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

<section>
    <h1 class="titulo-seccion">Detalles del Vehículo</h1>
    <form class="form fondo-formulario flex-column-center" method="POST" action="{% url 'v_modificarProducto' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in formulario %}
        <div class="form-control">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <img src="{{imagen}}" alt="image" class="card-img">
        <div class="flex-row-center" style="width: 80%;">
            <button id="editarbtn" class="btn btn-success boton">Guardar</button>
            <button id="eliminarbtn" class="btn btn-danger boton" data-vehiculo-id="{{vehiculo.producto_id.producto_id}}">Eliminar</button>
        </div>
    </form>    
</section>

<script src="{% static 'assets/js/paginaProducto.js' %}"></script>
{% endblock %}