{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="flex-column-center fondo-formulario mt-5">
        <img src="{% static '/assets/img/isotipo-autos-del-mar.png' %}" alt="">
        <div class="container">
            <form id="formAcceso" class="form" method="POST" action="{% url 'acceso_usuario' %}">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                
                <p id="errorAcceso" style="color: red;">{{ error }}</p>
                <button>Acceder</button>
            </form>
        </div>
    </div>
</section>
<script src="{% static 'assets/js/validacionesCliente/validacionesAcceso.js' %}"></script>
{% endblock %}
