{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="flex-column-center fondo-formulario mt-5">
        <img src="{% static '/assets/img/isotipo-autos-del-mar.png' %}" alt="">
        <div class="container">
            <form  id="formRegistro" class="form" method="POST" action="{% url 'registroUsuario' %}">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}

                <p style="color: red;">{{ error }}</p>
                <button>Confirmar</button>
            </form>
        </div>


    </div>
</section>
<script src="{% static 'assets/js/validacionesRegistro.js' %}"></script>
{% endblock %}
