{% extends 'layouts/base.html' %}
{% block content %}

<!-- Seccion del carrito -->
<h1 class="titulo-seccion">Carrito de Compras</h1>
<div class="row">
    <main id="contenedorProductos" class="col-xl-8 col-md-8">
        {% for item in productos %}
        <article id="contenedor" class="fondo-seccion flex-row-center row">
            <img src="{{item.imagen}}" alt="img" class="imgCarrito col-xl-6 col-md-7">
            <div class="flex-column-center col-xl-6 col-md-5 texto-blanco" style="text-align: center;">
                <p id="nombreProducto"><b class="texto-azul">Nombre:</b> {{item.nombre}}</p>
                <p id="precioProducto"><b class="texto-azul">Precio:</b> {{item.precio}}</p>
                <p id="cantidadProducto"><b class="texto-azul">Cantidad:</b> {{item.cantidad}}</p>
                <p id="precioProducto"><b class="texto-azul">Subtotal:</b> {{item.subtotal}}</p>
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </article>
        {% endfor %}
    </main>
    <aside class=" col-xl-4 col-md-4">
        <article class="precio-background flex-column-center texto-blanco">
            <h3>Total a Pagar</h2>
            <p id="precioTotal">${{total}}</p>
            <form action="{% url 'facturar' %}">
                <button id="btnComprar" class="btn btn-success boton">Comprar</button>
            </form>
        </article>
    </aside>
</div>

{% endblock %}