
     
        <!-- Profile Datas -->
        <section>
            <div class="flex-column-center fondo-formulario">
                <img src="./assets/img/person-circle.svg" alt="User-icon" class="img-user">
                <form>
                    <fieldset disabled class="datos-usuario">
                        <div class="form-group">
                            <label for="username" class="texto-blanco"> Nombre Completo</label>
                            <input type="text" id="username" class="form-control" value="Jane Doe">
                        </div>
                        <div class="form-group">
                            <label for="user-email" class="texto-blanco"> E-mail</label>
                            <input type="text" id="user-email" class="form-control" value="jane.doe@example.com">
                        </div>
                        <div class="form-group">
                            <label for="fecha-nacimiento" class="texto-blanco"> Fecha de Nacimiento</label>
                            <input type="date" id="fecha-nacimiento" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="direccion" class="texto-blanco"> Dirección</label>
                            <input type="text" id="direccion" class="form-control" value="Av. Grant Tree 123. Texas">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="flex-column-center fondo-formulario">
                <h2 class="titulo-seccion">Articulos Comprados</h2>
                <table class="tabla-compras ">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BMW</td>
                            <td>M3 GTR</td>
                            <td>$14.000.000 CLP</td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Mustang GT</td>
                            <td>$25.000.000 CLP</td>
                        </tr>
                        <tr>
                            <td>Porsch</td>
                            <td>Carrera GT</td>
                            <td>$65.000.000 CLP</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
