{% extends 'layouts/base.html' %}
{% block content %}

<!-- Catalogo de Autos -->
<section>
    <h1 class="titulo-seccion">Vehiculos Disponibles</h1>
    <div class="flex-row-center">
        <a href="{% url 'registroVehiculo' %}" class="btn btn-info">Registrar vehiculo</a>

    </div>
    <div class="container-fluid">
        <div id="rowCards" class="row fondo-seccion">
            <!-- Aqui van las cards del catalogo -->
            {% for vehiculo in vehiculos %}

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 flex-row-center">
                <div class="card">
                    <img src="{{vehiculo.producto_id.image.url}}"
                        class="card-img"
                        alt="{{vehiculo.modelo}}">
                    <div class="card-body">
                        <h5 class="card-title">{{vehiculo.modelo}}</h5>
                        <p>{{vehiculo.marca}}</p>
                        <a href="paginaProducto/{{vehiculo.producto_id.producto_id}}" class="btn btn-info">Ver Producto</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}